
<img src="/assets/images/d1/setting.png" class="set myBtn">
<div id="myModal" class="modal"> 
  
  <!-- Modal content -->
  <div class="modal-content"> <span class="close"><img src="/assets/images/d1/ic_close.png"/></span>
    <form class="form" method="get" style="text-align: center;">
      <input type="text" name ="n" class="form-input" placeholder="Enter Your Name" required>
      <input type="text" name ="r" class="form-input" placeholder="Enter Receiver Name" required>
      <button class="btn"><img src="/assets/images/d1/button_preview.png"></button>
      <a href="#"><img src="/assets/images/d1/whatsapp_share.jpg"></a> <a href="#"><img src="/assets/images/d1/facebook_share.jpg"></a>
    </form>
  </div>
</div>
<script> 
       $(function() {
      location.queryString = {};
      location.search.substr(1).split("?").forEach(function (pair) {
        if (pair === "") return;
        pair = pair.replace("n=", "");
        pair = pair.replace("r=", "");
        var parts = pair.split("&");
                 var sendername = parts[0];
        $(".sendername").html(sendername.replace(/\+/g, ' '));
                 var receivername = parts[1];
        $("#receivername").html(receivername.replace(/\+/g, ' '));
      });
      $("#myModal").hide();
      $(".myBtn").click(function(){
        $("#myModal").show();
      });
      $(".close").click(function(){
        $("#myModal").hide();
      });
      jQuery.fn.shake = function() {
    this.each(function(i) {
        for (var x = 1; x <= 3; x++) {
            $(this).animate({right : -25}, 10).animate({ right : 0 }, 50).animate({right : 25 }, 10).animate({right : 0}, 50);
        }
    });
    return this;
}
  jQuery.fn.shake1 = function() {
    this.each(function(i) {
        for (var x = 1; x <= 3; x++) {
            $(this).animate({left : -25}, 10).animate({ left : 0 }, 50).animate({left : 25 }, 10).animate({left : 0}, 50);
        }
    });
    return this;
}
setInterval(function() {
    $('.set2').shake();
    $('.set').shake1();
}, 5000); 
    });

</script>
<img src="/assets/images/d1/setting.png" class="set2 myBtn">