  <li class="md-cards_item">
    <div class="md-card link-no-color">
    <a href="{{include.url}}">
      <div class="md-card_image"><img src="{{include.image}}"></img></div>
      <div class="md-card_content">
        <h2 class="post-title">{{include.title}}</h2>
        {% if include.description %}
        <p class="post-entry">{{include.description}}</p>
        {% endif %}
        <!-- <button class="btn btn--block md-card__btn">{{include.cta}}</button> -->
      </div>
      </a>
    </div>
  </li>