<section id="one" class="tiles">
  {% for tile in site.data.homepage_tiles %}
  <article>
    <!-- <span class="image">
      <img src="{{ tile.image }}" alt="" />
    </span> -->
    <header class="major">
      <h3>
        {% if tile.url %}
        <a href="{{ tile.url  | relative_url }}index.html" class="link">{{ tile.title }}</a>
         {% else %}
         <a href="" class="link">{{ tile.title }}</a>
         {% endif %} 
      </h3>
      <p>{{ tile.description }}</p>
    </header>
  </article>
  
  {% endfor %}

</section>
