.md-cards_item {
  padding: 0;
  height: 200px;
  position: relative;
  overflow: hidden;
  position: relative;
  display: flex;
  margin-top: 0.5em;
  @media(min-width: 40rem) {
    width: 100%;
  }
  @media(min-width: 56rem) {
    width: 100%;
  }
}
.md-card.link-no-color a {
    border: none;
}

.md-card {
  border: none;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .md-card_image {
      filter: contrast(100%);
    }
  }
}

.md-card_image{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;
  width:100%;
}

.md-card_content {
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
  position: absolute;
  z-index: 1;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
