  html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
}@font-face {
    font-family: Aspire-DemiBold;
    src: url(../fonts/Aspire-DemiBold.ttf);
}
.name{  font-family: Aspire-DemiBold; font-size: 50px; color: #fff; margin-top: -1em;}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-stitch {
  display: none;
}
.holi-img{ position: absolute; width: 100%; text-align: center; margin-top: 3em;}

.ball {
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
 from {
 transform: translateY(0px);
}
 to {
 transform: translateY(-15px);
}
}
@-webkit-keyframes bounce {
 from {
 transform: translateY(0px);
}
 to {
 transform: translateY(-15px);
}
}


p {
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double #fff;
  border-width: 4px 0;
  padding: 0.5em 0em;
  position: absolute;
  bottom: 18%;
  left: 50%;
  width: 40em; color: #fff;
  margin: 0 0 0 -20em;
}
p span {
  font: 700 3em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media screen and (max-width:43em) {
    .holi-img img{ width: 380px;}
  p {

  bottom: 12% !important;
  left: 0% !important;
  width: 100% !important; color: #fff;
margin: 0 0 0 0em !important; padding-right: 10px;
}  
  p span { font: 700 2.5em/1 "Oswald", sans-serif !important;}
    
}



