.set{ position: fixed; left: 0; bottom: 0; z-index: 99999; cursor: pointer;  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; }
.set2{ position: fixed; right: 2%; bottom: 0; z-index: 99999; cursor: pointer;  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; }
.set2.myBtn {
  color: #fff;
  background: #c71515;
  border: 0;
  padding: 8px 40px;
  width: 96%;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  border-radius: 13px;
}
.form-input{ width: 90%; border: 2px solid #ccc; padding: 10px 15px; margin-bottom: 15px;}
.btn{ border: none; padding:0; margin-right: 1px; color: #fff;}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0; 
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%; max-width: 350px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@font-face {
    font-family: Aspire-DemiBold;
    src: url(/assets/fonts/Aspire-DemiBold.ttf);
}
@font-face {
    font-family: lv;
    src: url(/assets/fonts/lv.ttf);
}
.top{ position: absolute; top: 10px; z-index: 9999; width: 100%; text-align: center;}
.top span{font-family: Aspire-DemiBold; font-size: 50px; color: #fff;}

.top2{ position: absolute; top: 10px; z-index: 9999; width: 100%; text-align: center;}
.top2 span{font-family: Aspire-DemiBold; font-size: 40px; color: #000;}

.top3{ position: absolute; top: 11%; z-index: 9999; width: 100%; text-align: center;}
.top3 span{font-family: Aspire-DemiBold; font-size: 40px; color: #000;}

.top4{ position: absolute; top: 2%; z-index: 9999; width: 100%; text-align: center;}
.top4 div{ font-family: Aspire-DemiBold; font-size: 40px; color: #000;}

.top4a{ position: absolute; top: 2%; z-index: 9999; width: 100%; text-align: center;}
.top4a span{ font-family: Aspire-DemiBold; font-size: 40px; color: #000;}


.top5{ position: absolute; top: 10%; z-index: 9999; width: 100%; text-align: center;}
.top5 span{font-family: Aspire-DemiBold; font-size: 50px; color: #fff;}

body{
  padding-bottom: 50px !important;
}

