<!DOCTYPE html>
<!-- template d1 is for kuk developer -->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
<meta property=”og:title” content="{{ page.title }}" />
<meta property=”og:description" content="{{ page.description }}" />
<meta property=”og:image" content="{{ site.url}}{{ page.image }}" />
<title>{{ page.title }}</title>
{% if page.css %}
<link href="/assets/css/d1/{{ page.css }}" rel="stylesheet" type="text/css">
{% else %}
<link href="/assets/css/d1/style.css" rel="stylesheet" type="text/css">
{% endif %}

<link href="/assets/css/d1/setting.css" rel="stylesheet" type="text/css">
<script src="/assets/js/jquery.min.js"></script> 
{% include google_analytics.html %}


</head>

{{ content }}
</html>
